.main_chat
  .main_chat__top
    .main_chat__top__group
      .main_chat__top__group__name
        testGroup
      .main_chat__top__group__member
        testName
    .main_chat__top__edit
      Edit
  .main_chat__main
  .main_chat__bottom
