.main_chat
  .main_chat__top
    .main_chat__top__group
      .main_chat__top__group__name
        testGroup
      .main_chat__top__group__member
        testName
    .main_chat__top__edit
      Edit
  .main_chat__main
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
    .main_chat__main__group
      .main_chat__main__group__name
        testNameName
      .main_chat__main__group__date
        3030/21/95 (TEX) 12:33:33
    .main_chat__main__message
      Today is festival.
  .main_chat__bottom
    .main_chat__bottom__input
      %input.main_chat__bottom__input__textbox{type: "text", placeholder: "type a message"}
      %label.main_chat__bottom__input__image
        = icon("fas", "image")
        %input{type: "file"}
    %input.main_chat__bottom__send{type: "submit", value: "Send"}
