.side_bar
  .side_bar__top
    .side_bar__top__user
      = current_user.name
    .side_bar__top__icon
      = link_to icon("far", "edit"), new_group_path, method: "get"
      = link_to icon("fas", "cog"), edit_user_path(current_user), method: "get"
  .side_bar__main
    - current_user.groups.each do |group|
      .side_bar__main__group
        .side_bar__main__group__name
          = link_to group.name, "#"
        .side_bar__main__group__message
          メッセージはまだありません
