.side_bar
  .side_bar__top
    .side_bar__top__user testName
    .side_bar__top__icon
      = link_to icon("far", "edit"), "#"
      = link_to icon("fas", "cog"), "#"
  .side_bar__main
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
    .side_bar__main__group
      .side_bar__main__group__name
        techcamp
      .side_bar__main__group__message
        message
